In [15]:
L=[1,2,1.2,"vani"]
L

[1, 2, 1.2, 'vani']

In [16]:
L[5:6]

[]

In [19]:
L[5:5:1]
L[-1::]

['vani']

In [20]:
L[::-1]

['vani', 1.2, 2, 1]

In [22]:
L.append(100)
L

[1, 2, 1.2, 'vani', 100, 100]

In [24]:
L.reverse()
L

[1, 2, 1.2, 'vani', 100, 100]

In [40]:
l=[]
for i in range(1,10):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
b=[]
for i in range(6):
    int1=int(input("enter the i integer:"))
    b.append(int1)
b

enter the i integer:3
enter the i integer:1
enter the i integer:2
enter the i integer:5
enter the i integer:4
enter the i integer:4

[3, 1, 2, 5, 4, 4]

In [44]:
for i in b:
    if(i%2==0):
        print(i)

2
4
4

In [28]:
d=[]
g=1
sum=0
n=int(input("enter the how many integers:"))
for i in range(n):
    int1=int(input("enter the integer:"))
    d.append(int1)
for i in d:
    
    g=g*i
for i in d:
    sum =sum + i
       
if g<=750:
    print(g)
else:
    print(sum)

enter the how many integers:3
enter the integer:4
enter the integer:5
enter the integer:6
120

In [10]:
"""list comprehension"""
numbers=[elements for elements in "great afternoon"]
print(numbers)

['g', 'r', 'e', 'a', 't', ' ', 'a', 'f', 't', 'e', 'r', 'n', 'o', 'o', 'n']

In [11]:
#can create list using existing list 
L=["hyd","vizag" , "chennai" , "vijayawada"]
city=[]
for n in L:
   if "v" in n:
      city.append(n)
print(city)

['vizag', 'vijayawada']

In [12]:
L1=[2**x for x in range(2,10)]
print(L1)
L2=[a for a in range(100,201,20)]
print(L2)
L3=[1,2,3,4,5,6]
L4=[i for i in L3 if (i<5)]
print(L4)

[4, 8, 16, 32, 64, 128, 256, 512]
[100, 120, 140, 160, 180, 200]
[1, 2, 3, 4]

In [13]:
"""SET--"""
ss={1,1,1,1,2,2,2}
print(ss)

{1, 2}

In [ ]:
"""-- ss.add()-- add one value
   -- ss.update()-- add multiple values
   -- ss.discard()--gives no error if element is not present
   -- ss.remove()-- gives error if element is not present
   union--(s1|s2) 
   intersect--(s1&s2)
   difference-- (s1-s2)"""

In [53]:
d={"a":"hai","b":"vani"}
print(d)
print(d.keys())
print(d.values())
print(d["a"])
print(d.get("a"))

{'a': 'hai', 'b': 'vani'}
dict_keys(['a', 'b'])
dict_values(['hai', 'vani'])
hai
hai

In [58]:
l=["a","b"]
print(dict.fromkeys(l))
print({}.fromkeys(l,100))
print(dict.fromkeys(l,50))

{'a': None, 'b': None}
{'a': 100, 'b': 100}
{'a': 50, 'b': 50}